* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.btn-style {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.btn-style a {
  margin: 6px;
  padding: 12px 26px;
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn-style a:hover {
  background-color: #FFF;
  color: #000;
}

.werkervaring .btn-style a, .info .btn-style a {
  margin: 6px;
  padding: 12px 26px;
  font-size: 20px;
  text-decoration: none;
  background-color: #FFF;
  color: #000;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.werkervaring .btn-style a:hover, .info .btn-style a:hover {
  background-color: transparent;
  color: #fff;
}

.home,
.contact,
.profiel,
.info,
.werkervaring {
  height: 100vh;
  align-items: center;
  font-size: 24px;
  padding: 15px;
}

.contact {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}
.profiel h3, .contact h3, .werkervaring h3, .info h3 {
  font-size: 26px;
  margin: 0 0 15px 0;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}

.profiel {
  background-image: url('/images/img-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}
.profiel p ul {
  list-style: none;
}
.profiel p ul li {
  font-family: 'Arial', sans-serif;
}
.profiel p {
  font-size: 16px;
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Arial', sans-serif;
  line-height: 21px;
  color: #FFF;
  max-width: 600px;
}

.werkervaring p, .info p {
  font-size: 16px;
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Arial', sans-serif;
  line-height: 26px;
  color: #FFF;
  max-width: 600px;
}
.profiel p strong, .werkervaring p strong, .info p strong {
  text-transform: uppercase;
}

.werkervaring {
  background-image: url('/images/img-9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}
.info {
  background-image: url('/images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}

.url-style {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #FFF;
  transition: all 0.3s ease-out;
}
.url-style:hover {
  color: #000;
  background-color: #FFF;
}
